// Fonts ------------------------------------------------------------ .fs-#
// Leading ---------------------------------------------------------- .ld-#
$font-sizes:
    ('42', 42px)
    ('32', 32px)
    ('30', 30px)
    ('28', 28px)
    ('26', 26px)
    ('24', 24px)
    ('22', 22px)
    ('20', 20px)
    ('18', 18px)
    ('16', 16px)
    ('13', 13px)
    
    ('10em', 10em)
    ('9em', 9em)
    ('8em', 8em)
    ('7em', 7em)
    ('6em', 6em)
    ('5em', 5em)
    ('4em', 4em)
    ('3em', 3em)
    ('2em9', 2.9em)
    ('2em8', 2.8em)
    ('2em7', 2.7em)
    ('2em6', 2.6em)
    ('2em5', 2.5em)
    ('2em4', 2.4em)
    ('2em3', 2.3em)
    ('2em2', 2.2em)
    ('2em1', 2.1em)
    ('2em', 2em)
    ('1em9', 1.9em)
    ('1em8', 1.8em)
    ('1em7', 1.7em)
    ('1em6', 1.6em)
    ('1em5', 1.5em)
    ('1em4', 1.4em)
    ('1em3', 1.3em)
    ('1em2', 1.2em)
    ('1em1', 1.1em)
    ('1em', 1em)
    ('0em9', 0.9em)
    ('0em8', 0.8em)
    ('0em7', 0.7em)
    ('0em6', 0.6em)
    ('0em5', 0.5em)
    ('0em4', 0.4em)
    ('0em3', 0.3em)
    ('0em2', 0.2em)
    ('0em1', 0.1em)
; // ----- END

//* ------------------------------------------------------------ MISC Variables
$ab-ctr:48em;
$half-ab-ctr: -($ab-ctr / 2);

// WIDTHs ---------------------------------------- .w-# | Breakpoints --- .sm-w-# .md-w-# .lg-w-#
// HEIGHT ---------------------------------------- .h-# | Breakpoints --- .sm-h-# .md-h-# .lg-h-#
// POSITION ------------------------------- Top Bottom Right Left --- .p-t-# .p-b-# .p-r-# .p-l-#
$hxw-sizes:
    (1280px, 1280px)
    (1024px, 1024px)
    (960px, 960px)
    (800px, 800px)
    (720px, 720px)
    (600px, 600px)
    (190px, 190px)
    (180px, 180px)
    (170px, 170px)
    (160px, 160px)
    (150px, 150px)
    (140px, 140px)
    (130px, 130px)
    (120px, 120px)
    (110px, 110px)
    (100px, 100px)
    (90px, 90px)
    (80px, 80px)
    (70px, 70px)
    (60px, 60px)
    (50px, 50px)
    (40px, 40px)
    (30px, 30px)
    (20px, 20px)
    (10px, 10px)
    (9px, 9px)
    (8px, 8px)
    (7px, 7px)
    (6px, 6px)
    (5px, 5px)
    (4px, 4px)
    (3px, 3px)
    (2px, 2px)
    (1px, 1px)

    (75px, 75px)
    (49px, 49px)
    (48px, 48px)
    (47px, 47px)
    (46px, 46px)
    (45px, 45px)
    (44px, 44px)
    (43px, 43px)
    (42px, 42px)
    (41px, 41px)
    (33px, 33px)
    (28px, 28px)
    (25px, 25px)
    (14px, 14px)

    (1px, 1px)
    

    (100, 100%)
    (90, 90%)
    (80, 80%)
    (70, 70%)
    (60, 60%)
    (50, 50%)
        (49, 49%)
        (48, 48%)
        (47, 47%)
        (46, 46%)
        (45, 45%)
        (44, 44%)
        (43, 43%)
        (42, 42%)
        (41, 41%)
    (40, 40%)
    (30, 30%)
    (20, 20%)
    (10, 10%)
    (9, 9%)
    (8, 8%)
    (7, 7%)
    (6, 6%)
    (5, 5%)
    (4, 4%)
    (3, 3%)
    (2, 2%)
    (1, 1%)
    (75, 75%)
    (33, 33%)
    (28, 28%)
    (25, 25%)
    (14, 14%)
    (0, 0)
    (auto, auto)

    ('20em', 20em)
    ('16em', 16em)
    ('12em', 12em)
    ('10em', 10em)('9em', 9em)('8em', 8em)('7em', 7em)('6em', 6em)('5em', 5em)('4em', 4em)('3em', 3em)
    ('2em9', 2.9em)('2em8', 2.8em)('2em7', 2.7em)('2em6', 2.6em)('2em5', 2.5em)('2em4', 2.4em)('2em3', 2.3em)('2em2', 2.2em)('2em1', 2.1em)('2em', 2em)
    ('1em9', 1.9em)('1em8', 1.8em)('1em7', 1.7em)('1em6', 1.6em)('1em5', 1.5em)('1em4', 1.4em)('1em3', 1.3em)('1em2', 1.2em)('1em1', 1.1em)('1em', 1em)

    ('abs-ctr', $ab-ctr)
;// ----- END

// MARGINs -------------------- .mn-t-r-b-l-#  -----------------------------------------------
// PADDINGs -------------------- .pd-t-r-b-l-#  ---------------------------------------------- 
// Breakpoints -------------------- .sm-mn-t-r-b-l-# --- .md-mn-t-r-b-l-# --- .lg-mn-t-r-b-l-# 
$pdxmn-sizes:
    ('10em', 10em)
    ('9em', 9em)
    ('8em', 8em)
    ('7em', 7em)
    ('6em', 6em)
    ('5em', 5em)
    ('4em', 4em)
        ('3em9', 3.9em)
        ('3em8', 3.8em)
        ('3em7', 3.7em)
        ('3em6', 3.6em)
        ('3em5', 3.5em)
        ('3em4', 3.4em)
        ('3em3', 3.3em)
        ('3em2', 3.2em)
        ('3em1', 3.1em)
    ('3em', 3em)
    ('2em9', 2.9em)
    ('2em8', 2.8em)
    ('2em7', 2.7em)
    ('2em6', 2.6em)
    ('2em5', 2.5em)
    ('2em4', 2.4em)
    ('2em3', 2.3em)
    ('2em2', 2.2em)
    ('2em1', 2.1em)
    ('2em', 2em)
    ('1em9', 1.9em)
    ('1em8', 1.8em)
    ('1em7', 1.7em)
    ('1em6', 1.6em)
    ('1em5', 1.5em)
    ('1em4', 1.4em)
    ('1em3', 1.3em)
    ('1em2', 1.2em)
    ('1em1', 1.1em)
    ('1em', 1em)
    ('0em9', 0.9em)
    ('0em8', 0.8em)
    ('0em7', 0.7em)
    ('0em6', 0.6em)
    ('0em5', 0.5em)
    ('0em4', 0.4em)
    ('0em3', 0.3em)
    ('0em2', 0.2em)
    ('0em1', 0.1em)
    
    (100, 100%)
    (90, 90%)
    (80, 80%)
    (70, 70%)
    (60, 60%)
    (50, 50%)
    (40, 40%)
    (30, 30%)
    (20, 20%)
    (10, 10%)
    
    (75, 75%)
    (33, 33%)
    (25, 25%)
    
    (9, 9%)
    (8, 8%)
    (7, 7%)
    (6, 6%)
    (5, 5%)
    (4, 4%)
    (3, 3%)
    (2, 2%)
    (1, 1%)

    ('neg-10em', -10em)
    ('neg-9em', -9em)
    ('neg-8em', -8em)
    ('neg-7em', -7em)
    ('neg-6em', -6em)
    ('neg-5em', -5em)
    ('neg-4em', -4em)
    ('neg-3em', -3em)
    ('neg-2em9', -2.9em)
    ('neg-2em8', -2.8em)
    ('neg-2em7', -2.7em)
    ('neg-2em6', -2.6em)
    ('neg-2em5', -2.5em)
    ('neg-2em4', -2.4em)
    ('neg-2em3', -2.3em)
    ('neg-2em2', -2.2em)
    ('neg-2em1', -2.1em)
    ('neg-2em', -2em)
    ('neg-1em9', -1.9em)
    ('neg-1em8', -1.8em)
    ('neg-1em7', -1.7em)
    ('neg-1em6', -1.6em)
    ('neg-1em5', -1.5em)
    ('neg-1em4', -1.4em)
    ('neg-1em3', -1.3em)
    ('neg-1em2', -1.2em)
    ('neg-1em1', -1.1em)
    ('neg-1em', -1em)
    ('neg-0em9', -0.9em)
    ('neg-0em8', -0.8em)
    ('neg-0em7', -0.7em)
    ('neg-0em6', -0.6em)
    ('neg-0em5', -0.5em)
    ('neg-0em4', -0.4em)
    ('neg-0em3', -0.3em)
    ('neg-0em2', -0.2em)
    ('neg-0em1', -0.1em)
    ('neg-100', -100%)
    ('neg-90', -90%)
    ('neg-80', -80%)
    ('neg-70', -70%)
    ('neg-60', -60%)
    ('neg-50', -50%)
    ('neg-40', -40%)
    ('neg-30', -30%)
    ('neg-20', -20%)
    ('neg-10', -10%)
    ('neg-75', -75%)
    ('neg-33', -33%)
    ('neg-25', -25%)
    ('neg-9', -9%)
    ('neg-8', -8%)
    ('neg-7', -7%)
    ('neg-6', -6%)
    ('neg-5', -5%)
    ('neg-4', -4%)
    ('neg-3', -3%)
    ('neg-2', -2%)
    ('neg-1', -1%)

    (0, 0)
    (auto, auto)
    ('abs-ctr', $half-ab-ctr)
;// ----- END

// Border sizes ------------------------------------------------------------------------------------------
// .bdr-# --- top --------------------------- .bdr-t-# | bottom --- .bdr-b-# | left --- .bdr-l-# | right --- .bdr-r-#
$bdr-sizes:
    (100, 100%)
    (20, 20px)
    (19, 19px)
    (18, 18px)
    (17, 17px)
    (16, 16px)
    (15, 15px)
    (14, 14px)
    (13, 13px)
    (12, 12px)
    (11, 11px)
    (10, 10px)
    (9, 9px)
    (8, 8px)
    (7, 7px)
    (6, 6px)
    (5, 5px)
    (4, 4px)
    (3, 3px)                
    (2, 2px)
    (1, 1px)
    (0, 0)
;// ----- END