<footer class="txt-c pd-b-3em1 max-w-960px mn-l-r-auto pd-l-r-1em5">
    <hr class="mn-t-b-3em md-mn-t-b-4em bdr-0 h-1px bg-b-gry"/>
    <a class="f2 fs-18 c-b-org md-flt-l in-bl pd-b-2em" href="mailto:dave@spryelephant.com">dave@spryelephant.com</a>
    <div class="md-flt-r">
        <a class="ss-icon ss-social fs-22 c-b-org" href="https://twitter.com/{{ site.twitter }}" target="_blank">twitter</a>
        <a class="ss-icon ss-social fs-22 c-b-org pd-l-0em8" href="https://github.com/{{ site.github }}" target="_blank">github</a>
        <a class="ss-icon ss-social fs-22 c-b-org pd-l-0em8" href="http://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">linkedin</a>
    </div>
    <div class="clearfix"></div>
</footer>